*{}

html, body{
	color: #ffffff;
	background-color: #585858;
}

#page{
	width: 800px;
	margin: 0 auto;
}

#header{}

#content{}

#menu{}

#menu .app-link{
	text-align: center;
	line-height: 60px;
	border: 1px solid #909090;
	background-color: #717171;
	color: #D6D6D6;
	cursor: pointer;
}
#menu .app-link:hover{
	background-color: #696969;
	color: #ffffff;
}
#menu .app-link:last-child{}

#footer{}
